body {
    font-family: Arial, Helvetica, sans-serif;
    input, select, textarea {
        width: 80%;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        width: 20%;
        display: block;
        margin: 0 auto;
    }
}

.level {
    height: 50px;
    display: none;
    background-color: green;
    margin: 20px auto;
}

#level1 {
    width: 50px;
}

#level2 {
    width: 100px;
}

#level3 {
    width: 150px;
}

#level4 {
    width: 200px;
}

#level5 {
    width: 250px;
}