body {}

header {
    background-color: rgb(255, 91, 115);
    padding: 10px;
    text-align: center;
}

.placeholder-img {
    background-color: aqua;
}

.card-release-date {
    display: flexbox;
    font-size: 0.8em;
    color: gray;
}

.listar-musicas {}