body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    font-weight: bold;
    text-align: center;
    background-color: #0d6efd;
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#campo-digitar-nome-musica {
    width: 100%;
    margin-right: 10px;
}



.title {
    margin-top: 20px;
    border-bottom: #0d6efd 2px solid;
    padding-bottom: 5px;
    font-weight: bold;
    color: #0d6efd;
}

.inicio-fim-botoes {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.card.text-bg-primary.mb-3 {
    background-color: #0d6dfd3d;
    color: white;
}