body {
    font-family: "Chalkduster", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 14px;
}

#title {
    font-size: 24px;
}

.about {
    background-color: beige;
    border-style: solid;
    border-width: 3px;
    border-top-color: green;
    border-bottom-color: red;
    border-left-color: blue;
    border-right-color: yellow;

    padding: 10px;
}

.arithmeticAverage {
    background-color: aqua;
    border-style: solid;
    border-color: black;
    border-width: 3px;

    padding: 10px;
}

.weightedAverage {
    background-color: grey;
    border-style: dashed;
    border-color: red;
    border-width: 3px;

    padding: 10px;
}

.extremesMaxMin {
    border-width: 3px;
    border-top-style: dashed;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: solid;

    padding: 10px;
}