table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    border: 1px solid #333;
    padding: 5px;
}

th {
    background-color: #b0c4de;
    color: #fff;
    font-weight: normal;
    font-size: 1.3em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th.saida, td.saida {
    width: 30%;
}

th.acao, td.acao,
th.saida, td.saida {
    text-align: center;
}
