:root {
    --primary-color: #0d6efd;
    --secondary-color: #63b3ed;
    --text-color: #1a202c;
    --radius-sm: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --font-base: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {

}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2vh;
    margin: 0;
    font-style: bold;
}



